<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mate.academy.controllers.user.GetAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.controllers.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/users/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>mate.academy.controllers.user.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>mate.academy.controllers.product.AddNewProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>mate.academy.controllers.product.DeleteProductFromStoreController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsForUser</servlet-name>
        <servlet-class>mate.academy.controllers.product.GetAllProductsForUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProductsForUser</servlet-name>
        <url-pattern>/products/all_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsForAdmin</servlet-name>
        <servlet-class>mate.academy.controllers.product.GetAllProductsForAdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProductsForAdmin</servlet-name>
        <url-pattern>/products/all_admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteFromCart</servlet-name>
        <servlet-class>mate.academy.controllers.cart.DeleteProductFromCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteFromCart</servlet-name>
        <url-pattern>/shopping-carts/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>mate.academy.controllers.cart.AddProductToCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/shopping-carts/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shoppingCart</servlet-name>
        <servlet-class>mate.academy.controllers.cart.GetShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>shoppingCart</servlet-name>
        <url-pattern>/shopping-carts/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>mate.academy.controllers.order.CheckoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrdersUser</servlet-name>
        <servlet-class>mate.academy.controllers.order.GetAllOrdersForUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allOrdersUser</servlet-name>
        <url-pattern>/orders/all_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrdersAdmin</servlet-name>
        <servlet-class>mate.academy.controllers.order.GetAllOrdersForAdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allOrdersAdmin</servlet-name>
        <url-pattern>/orders/all_admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.controllers.order.DeleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/orders/delete</url-pattern>
    </servlet-mapping>
</web-app>
